Given a list of integers and a target, please find the indices of two numbers in the list whose sum is the target.
[-1, 0, 5, 6], target = 5

In [ ]:
arr = [-1, 0, 5, 6]
target = 5

def findSum(arr, target):
  arrLen = len(arr)
  i = 0
  j = arrLen - 1


  res = []

  while i < j:
    if i == j:
      break
    if arr[i] + arr[j] == target:
      res.append([arr[i], arr[j]])
      i += 1
      j -= 1
    else:
      if arr[i] + arr[j] < target:
        i += 1
      else:
        j -=1

  return res

a = findSum(sorted(arr), target)
print(a)

[[-1, 6], [0, 5]]

Youâ€™re given two dataframes: transactions and products.

The transactions dataframe contains transaction ids, product ids, and the total amount of each product sold.

The products dataframe contains product ids and prices.

Write a function to return a dataframe containing every transaction with a total value of over $100. Include the total value of the transaction as a new column in the dataframe.

In [ ]:
import pandas as pd
transactions = {"transaction_id" : (1,2,3,4,5), "product_id" : (1,3,2,2,3), "total_amount" : (1,1,2,3,1)}
products = {"product_id" : (1,2,3), "price" : (12.34, 34.99, 10.00)}
transactions_df = pd.DataFrame(transactions)
products_df = pd.DataFrame(products)


def transaction_gt_100(transactions_df, products_df):
  join_df = transactions_df.merge(products_df, on = "product_id", how = "outer")
  return join_df[join_df['price'] * join_df['total_amount'] > 100]
#  join_df['total_value'] = join_df['price'] * join_df['total_amount']
#  return join_df[join_df['total_value'] > 100]
# (OR)
#  return join_df.query('total_value > 100')

if __name__ == '__main__':
  final_df = transaction_gt_100(transactions_df, products_df)
  display(final_df)

   transaction_id  product_id  total_amount  price
2               4           2             3  34.99

Split the given string into n number of equal parts. If the string cannot be split into n parts, print "The string cannot be split into n parts"

In [ ]:
input = "purchase"
n = 2

def split_equally(input, n):
  split = []
  i = 0

  while i < len(input):
    split.append(input[i:i+n])
    i += n

  return split

if len(input)%n == 0:
  print("The string will be split into " + str(len(input)/n) + " parts : " )
  split = split_equally(input, n)
  print(split)

else:
  print("The string cannot be split into equal " + str(n) + " parts")

The string will be split into 4.0 parts :
['pu', 'rc', 'ha', 'se']

Find the minimum absolute distance

In [ ]:
import sys
least_diff, curr_diff = sys.maxsize, sys.maxsize
res = []
for x in v:
  for y in v:
    if x!=y :
      curr_diff = abs(x-y)
      if [y,x] not in res:
        if curr_diff == least_diff:
          res.append([x, y])
        if curr_diff < least_diff:
          res = []
          res.append([x,y])
      least_diff = min(curr_diff, least_diff)
print(least_diff, res)

4 [[57, 61], [68, 72], [122, 126]]

Find intersection between two lists

In [ ]:
X = [1,5,9,0]
Y = [3,0,2,9]
intersection_X_Y = []

for each in X:
  if each in Y:
    intersection_X_Y.append(each)

print(intersection_X_Y)

[9, 0]

In [ ]:
[x for x in X for y in Y if x == y]

[9, 0]

Print one occurrence of every duplicate element in the given list

In [ ]:
def find_dup(A):
  if len(set(A)) == len(A):
    return "there are no duplicates"
  return [each for each in set(A) if A.count(each) > 1]

A = [1,2,3,7,3,1,3,6,5]

if __name__ == "__main__" :
  print(find_dup(A))

[1, 3]

Given a list of numbers, consider all the elements concatenated to form a number and add 1 to it. Return the result as one number.

In [ ]:
digits = [1,2,3]
res = digits.copy()
carry_over = 0

if digits[-1] != 9:
  res[-1] += 1
else:
  res[-1] = 0
  carry_over = 1
  for i in range(len(digits)-2, -1, -1):
    if digits[i] == 9:
      res[i] = 0
      carry_over = 1
    else:
      res[i] = digits[i] + carry_over
      carry_over = 0

if carry_over == 1:
  res.insert(0, 1)

print(res)

[1, 2, 3] [1, 2, 4]

In [ ]:
digits = [8,9,9]
res = [0] * len(digits)
res[-1] = 1

for i in range(len(digits) - 1, -1, -1):
  if digits[i] == 9:
    if i == 0:
      res[i] = 0
      res.insert(0, 1)
    else:
      res[i] = 0
      res[i-1] += 1
  else:
    res[i] += digits[i]

print(res)

[9, 0, 0]

Given a list, find the highest product possible by multiplying three elements

In [ ]:
A = [-7,-8,1,2,3,1,3,6,5,0]
B = [1]*3
C = [1]*3
j, k = 0, 0

if 0 in A:
  A.remove(0)

if len(A) < 3:
  print(0)


for i in A:
  if i > 0:
    if j > 2:
      B.append(i)
    else:
      B[j]= i
      j += 1
  else:
    if k > 2:
      C.append(i)
    else:
      C[k] = i
      k += 1

C.sort()
B.sort()
print(max(C[-1]*C[-2]*C[-3],B[-1]*B[-2]*B[-3], C[-1]*B[-1]*B[-2], C[0]*C[1]*B[-1] ))

336

In [ ]:
A = [-7,-8,1,2,3,1,3,6,5,0]
print(max([i*j*k for i in A for j in A for k in A if i!=j and i!=k and j!=k]))

336

you are given a list of strings, return a list of grouped the anagrams together. Order doesn't matter.
input: s = ["tam", "meat", "apple", "ate", "mat", "tea", "team", "atm"]
output: [["tam", "mat"], ["meat ","team"], ["tea", "ate"], ["apple"]]

In [1]:
temp_list = []
s = ["tam", "meat", "apple", "ate", "mat", "tea", "team"]
[temp_list.append([x,y]) for idx, x in enumerate(s) for idy, y in enumerate(s) if sorted(x) == sorted(y) and idx != idy and [y,x] not in temp_list]
print(temp_list)

[['tam', 'mat'], ['meat', 'team'], ['ate', 'tea']]