In [3]:
#Given a string, the task is to reverse the order of the words in the given string.

#s = "geeks quiz practice code"
#Output: s = “code practice quiz geeks”

#s = "i love programming very much"
#Output: s = “much very programming love i”

In [4]:
s = '''geeks quiz practice code
i love programming very much'''

def rev_string(s):
  return " ".join(s.split(" ")[::-1])

if __name__ == "__main__":
  for each in s.splitlines():
    print(rev_string(each))

code practice quiz geeks
much very programming love i

In [ ]:
'''
Given a set of strings, find the longest common prefix.
Examples:

    Input: {“geeksforgeeks”, “geeks”, “geek”, “geezer”}
    Output: “gee”

    Input: {“apple”, “ape”, “april”}
    Output: “ap”
'''

In [ ]:
s = ["geeksforgeeks","geeks","geek","gezer"]
s_len=[len(each) for each in s]
smallest_str = s[s_len.index(min(s_len))]

longest_common_prefix = smallest_str

while True:
  if all(ele.startswith(longest_common_prefix) for ele in s):
    print(longest_common_prefix)
    break
  else:
    longest_common_prefix = longest_common_prefix[:-1]

ge

In [ ]:
'''Given a string in roman form, the task is to convert this given roman string into an integer.
    Input: IX
    Output: 9
    Explanation: IX is a Roman symbol which represents 9

    Input: XL
    Output: 40
    Explanation: XL is a Roman symbol which represents 40

    Input: MCMIV
    Output: 1904
    Explanation: M is a thousand, CM is nine hundred and IV is four
'''

In [5]:
s='''IX
XL
MCMIV
'''
roman_dict={"I":1, "V":5, "X":10,"L":50,"C":100,"D":500,"M":1000}

def convert_roman_to_decimal(each):
  decimal_int = 0
  prev_ele = 0
  for ele in each:
    curr_ele = roman_dict.get(ele)
    if prev_ele == 0:
      prev_ele = curr_ele
      decimal_int = curr_ele
      continue
    else:
      if (prev_ele > curr_ele):
        decimal_int += curr_ele
      else:
        decimal_int = decimal_int + curr_ele - 2 * prev_ele
    prev_ele = curr_ele
  return decimal_int


if __name__ == "__main__":
  for each in s.splitlines():
    print(convert_roman_to_decimal(each))

9
40
1904

In [ ]:
'''Find the minimum distance between the given two words
    Input: S = { “the”, “quick”, “brown”, “fox”, “quick”}, word1 = “the”, word2 = “fox”
    Output: 3
    Explanation: Minimum distance between the words “the” and “fox” is 3

    Input: S = {“geeks”, “for”, “geeks”, “contribute”,  “practice”}, word1 = “geeks”, word2 = “practice”
    Output: 2
    Explanation: Minimum distance between the words “geeks” and “practice” is 2
'''

In [10]:
s = ["the","quick","brown","fox","quick"]
w1 = "the"
w2 = "fox"
'''s = ["geeks","for","geeks","contribute","practice"]
w1 = "geeks"
w2 = "practice"
'''
w1_search = [idx for idx,each in enumerate(s) if w1 in each]
w2_search = [idx for idx,each in enumerate(s) if w2 in each]

res = []
for i in w1_search:
  for j in w2_search:
    res.append(abs(i-j))
print(min(res))

3

In [ ]:
#Check if two given Strings are Isomorphic to each other
s1 = "egg"
s2 = "add"

map_dict={}

if len(s1) != len(s2):
  print("Not Isomorphic")
else:
  for i,j in zip(s1,s2):
    if i not in map_dict and j not in map_dict.values() and i not in map_dict.values() and j not in map_dict:
      map_dict[i] = j
      map_dict[j] = i
    else:
      if (i in map_dict and map_dict[i] != j) or (j in map_dict and map_dict[j] != i):
        print("Not Isomorphic")
        break
  print("Isomorphic")
  print(map_dict)

Isomorphic
{'e': 'a', 'a': 'e', 'g': 'd', 'd': 'g'}

In [12]:
#    Write a Python program to check if a string contains only unique characters.
string = '''aabbcdeaflkjgaoingbbbaedk
abcd'''

def checkUnique(string):
  for each in string:
    if string.count(each) > 1:
      return False
    return True

for s in string.splitlines():
  print(s, checkUnique(s))

aabbcdeaflkjgaoingbbbaedk False
abcd True

In [11]:
#    Write a Python program to check if a string contains only unique characters.
string = '''aabbcdeaflkjgaoingbbbaedk
abcd'''

for each in string.splitlines():
  print(each, len(each) == len(set(each)))

aabbcdeaflkjgaoingbbbaedk False
abcd True

In [13]:
#    Write a Python program to find the common characters between two strings.
string = 'aabbcdeaflkjgaoingbbbaedk'
string1 = 'abcz'

set(string).intersection(set(string1))

{'a', 'b', 'c'}

In [15]:
#Write a Python program to find the first non-repeated character in a string.
string = 'aabbcdeaflkjgaoingbbbaedk'

from collections import OrderedDict
str_dict = OrderedDict()

for each in string:
  if string.count(each)==1:
    str_dict[each] = string.count(each)
print(next(iter(str_dict.keys())))

c

In [16]:
# Write a Python program to reverse the order of words in a sentence.
sentence = "mary had a little lamb, little lamb, little lamb, mary had a little lamb"
" ".join(sentence.split()[::-1])

'lamb little a had mary lamb, little lamb, little lamb, little a had mary'

In [17]:
#Write a Python program to find the length of the last word in a sentence.
sentence = "mary had a little lamb, little lamb, little lamb, mary had a little lamb"
print(len(sentence.split()[-1]))
#

4

In [18]:
#Write a Python program to replace all occurrences of a substring with another substring.
sentence = "mary had a little lamb, little lamb, little lamb, mary had a little lamb"
sentence = sentence.replace("little", "big")
#
sentence

'mary had a big lamb, big lamb, big lamb, mary had a big lamb'

In [19]:
#Write a Python program to find the index of the first occurrence of a substring in a string.

sentence = "mary had a little lamb, little lamb, little lamb, mary had a little lamb"
find_str = "little"

print(sentence.find(find_str))

11

In [20]:
#    Write a Python program to count the occurrences of each word in a sentence.
sentence = "mary had a little lamb, little lamb, little lamb, mary had a little lamb"
sentence = sentence.replace(",","")

import pandas as pd

diction = {}
for word in sentence.split(" "):
  if word in diction:
    diction[word] += 1
  else:
    diction[word] = 1
df = pd.DataFrame(diction.items(), columns=['word', 'count'])

blankIndex=[''] * len(df)
df.index=blankIndex

print(df[["count","word"]])

  count    word
      2    mary
      2     had
      2       a
      4  little
      4    lamb

In [21]:
#    Write a Python program to remove all duplicates from a string and return the result.
string = 'aabbcdeaflkjgaoingbbbaedk'

"".join(sorted(set(string), key=string.index))

'abcdeflkjgoin'

In [22]:
#Write a Python program to find the most frequent character in a string.
string = 'aabbcdeaflkjgaoingbbbaedk'
print(max(set(string), key=string.count))

str_dict = {}
for each in string:
  str_dict[each] = string.count(each)
print([k for k,v in str_dict.items() if v==max(str_dict.values())])

b
['a', 'b']

In [23]:
#Write a Python program to count the number of vowels in a string.
string='abcdefghijklmnopqrstvwxyz'
vowels = 'aeiou'
print(sum(1 for each in string if each in vowels))

4

In [24]:
#Write a Python program to check if a string is a palindrome.
string = 'madam'
print(string == string[::-1])

True

In [25]:
#Write a Python program to reverse a string.
string = 'abcdefghij'
print(string[::-1])

jihgfedcba

In [26]:
#Write a Python program to check if a string is a palindrome.

test_sequences = ["a man, a plan, a canal, panama!"]
def is_pal(ele):
  i = 0
  j = len(ele) - 1
  while i < j:
    if ele[i].lower() == ele[j].lower():
      i += 1
      j -= 1
    else:
      return False
  return True


for each in test_sequences:
  each = ''.join(each.split()).replace(',','').replace('!','')

  print(is_pal(each.strip(' ').strip('!')))

True

In [27]:
def is_palindrome(string):
  return string.lower() == string.lower()[::-1]

string = "Delevled"
is_palindrome(string)

False

In [28]:
def unique_names(arr1, arr2):
  unique_names_list = []

  return set(arr1+arr2)


unique_names(['Ava', 'Emma', 'Olivia'], ['Olivia', 'Sophia', 'Emma'])

{'Ava', 'Emma', 'Olivia', 'Sophia'}